<!DOCTYPE html>
<html>
  <head>
    <title>grunt help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    {{ template "template/header.html" . }}
    <div class="container">
      <h3>Version</h3>
      <div class="row">
        <div class="col-sm-1"><span class="pull-right"><strong>Version</strong></span></div>
        <div class="col-sm-8"><span class="pull-left">{{.version}}</span></div>
      </div>
      
      {{ .help }}
    </div>
  </body>
</html>


