<!DOCTYPE html>
<html>
  <head>
    <title>grunt {{.job.UUID}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {{ template "template/header.html" . }}

    <div class="container">
      <h3>Job detail for <a href="/service/{{.job.EndPoint}}">{{.job.EndPoint}}</a> ({{.job.UUID}})</h3>
      {{ with .job }}
      <div class="row">
        <div class="col-sm-4">Status</div>
        <div class="col-sm-8" id="status" class="text-info">{{.Status}}</div>
      </div>
      
      <div class="row">
        <div class="col-sm-4">Start time</div>
        <div class="col-sm-8" id="start">{{humanizeTime .StartTime}}</div>
      </div>
      
      <div class="row">
        <div class="col-sm-4">End time</div>
        <div class="col-sm-8" id="end">{{if not .EndTime.IsZero  }} {{humanizeTime .EndTime}}{{end}}</div>
      </div>
      
      <div class="row">
        <div class="col-sm-4">
          <a id="show-extra-C61194C4-5B08-43E8-841D-4F651F59516B" class="" type="" data-toggle="collapse" data-target="#uuid,#cl,#parsed,#json,#all" aria-expanded="false" aria-controls="collapseInfo">show info</a>
        </div>
      </div>

      <script>
      $(document).ready(function() {
        console.log("Found element");
        $('#show-extra-C61194C4-5B08-43E8-841D-4F651F59516B').click(function(e){
          var a = $('#show-extra-C61194C4-5B08-43E8-841D-4F651F59516B');
          if ( a.attr('aria-expanded') == 'true' ) {
            a.html('show info');
          } else {
            a.html('hide info');
          }
        });
      });
      </script>
      
      <div class="row collapse" id="uuid">
        <div class="col-sm-4">UUID</div>
        <div class="col-sm-8">{{.UUID}}</div>
      </div>

      <div class="row collapse" id="cl">
        <div class="col-sm-4">Command line</div>
        <div class="col-sm-8">{{range .CommandLine}}{{.}} {{end}}</div>
      </div>
      
      <div class="row collapse" id="parsed">
        <div class="col-sm-4">Parsed line</div>
        <div class="col-sm-8">{{range .ParsedCommandLine}}{{.}} {{end}}</div>
      </div>

      <div class="row collapse" id="json">
        <div class="col-sm-4">JSON</div>
        <div class="col-sm-8"><a href="/rest/job/{{.UUID}}">status</a></div>
      </div>

      <div class="row collapse" id="all">
        <div class="col-sm-4">All job data</div>
        <div class="col-sm-8"><a href="/rest/job/{{.UUID}}/zip">download</a></div>
      </div>

      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Output files</th>
            </tr>
          </thead>
          <tbody>
            {{$uuid := .UUID}}
            {{range $key, $value := .FileMap}}
            <tr>
              <td><a href="/rest/job/{{$uuid}}/file/{{$key}}">{{$key}}</td>
            </tr>
            {{end}}
            {{range $key, $value := .ZipMap}}
            <tr>
              <td><a href="/rest/job/{{$uuid}}/file/{{$key}}">{{$key}}</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Log</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><pre id="log" style="background-color: transparent; border: 0px;padding: 0px">{{.Output.String}}</pre></th>
            </tr>
          </tbody>
        </table>
      </div>
      
      {{end}}      
    </div>
  </body>

  <script type="text/javascript">

  function refresh() {
    axios.get("/rest/job/{{.job.UUID}}")
         .then(function(response) {
           /* console.log(response);*/
           /* console.log ( "status: " + response.data.status )*/
           $('#log').text(response.data.Output);
           $('#status').text(response.data.status);
           $('#status').removeClass ( "text-success text-danger text-info");
           if ( response.data.status == "success") {
             $('#status').addClass('text-success');
             $('#start').text(response.data.start_time_full);
             $('#end').text(response.data.end_time_full);
           }
           if ( response.data.status == "failed") {
             $('#status').addClass('text-danger');
             $('#start').text(response.data.start_time_full);
             $('#end').text(response.data.end_time_full);
           }
           if ( response.data.status == "running") {
             $('#status').addClass('text-info');
             $('#start').text(response.data.start_time_humanized);
             $('#end').text(response.data.end_time_humanized);
           }


           if ( response.data.status != "running") {
             setTimeout(refresh,2000)
           } else {
             // reschedule
             setTimeout(refresh,2000)
           }
         });
  }
  refresh()
  
  </script>

  
</html>
