<!DOCTYPE html>
<html>
  <head>
    <title>grunt {{.job.UUID}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    {{ template "template/header.html" . }}

    <div class="container">
      <h3>Job detail for <a href="/service/{{.job.EndPoint}}">{{.job.EndPoint}}</a> ({{.job.UUID}})</h3>
      Generated {{ now }}
      {{ with .job }}
      <div class="row">
        <div class="col-sm-4">UUID</div>
        <div class="col-sm-8">{{.UUID}}</div>
      </div>

      <div class="row">
        <div class="col-sm-4">Command line</div>
        <div class="col-sm-8">{{range .CommandLine}}{{.}} {{end}}</div>
      </div>
      
      <div class="row">
        <div class="col-sm-4">Parsed line</div>
        <div class="col-sm-8">{{range .ParsedCommandLine}}{{.}} {{end}}</div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Output files</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            {{$uuid := .UUID}}
            <td><a href="/rest/job/{{$uuid}}/zip">Zip file of all inputs and outputs</a></td>
            {{range $key, $value := .FileMap}}
            <tr>
              <td><a href="/rest/job/{{$uuid}}/file/{{$key}}">{{$key}}</td>
            </tr>
            {{end}}
            {{range $key, $value := .ZipMap}}
            <tr>
              <td><a href="/rest/job/{{$uuid}}/file/{{$key}}">{{$key}}</td>
            </tr>
            {{end}}
        </tbody>
      </table>
      <div class="panel panel-default">
        <div class="panel-heading">Log</div>
        <div class="panel-body">
          <pre>{{.OutputString}}</pre>
        </div>
      </div>
      
      {{end}}      
    </div>
  </body>
</html>
