<!DOCTYPE html>
<html>
  <head>
    <title>grunt {{.service.EndPoint}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {{ template "template/header.html" . }}

    {{ $c := .config }}
    {{ with .service }}
    <div class="container">
      <div class="row">
        <h1>{{.EndPoint}}</h1> <a id="show-info-C61194C4-5B08-43E8-841D-4F651F59516B" class="" type="" data-toggle="collapse" data-target="#endpoint-C61194C4-5B08-43E8-841D-4F651F59516B,#cl-C61194C4-5B08-43E8-841D-4F651F59516B,#description-C61194C4-5B08-43E8-841D-4F651F59516B,#curl-C61194C4-5B08-43E8-841D-4F651F59516B" aria-expanded="false">show info</a>

        <script>
        $(document).ready(function() {
          console.log("Found element");
          $('#show-info-C61194C4-5B08-43E8-841D-4F651F59516B').click(function(e){
            var a = $('#show-info-C61194C4-5B08-43E8-841D-4F651F59516B');
            console.log("Found element",a);
            console.log("Found element",a.attr('aria-expanded'));
            if ( a.attr('aria-expanded') == 'true' ) {
              a.html('show info');
            } else {
              a.html('hide info');
            }
          });
        });
        </script>
      </div>

        <div class="row collapse" id="endpoint-C61194C4-5B08-43E8-841D-4F651F59516B">
          <div class="col-sm-4">endpoint</div>
          <div class="col-sm-8">{{.EndPoint}}</div>
        </div>

        <div class="row collapse" id="cl-C61194C4-5B08-43E8-841D-4F651F59516B">
          <div class="col-sm-4">command line</div>
          <div class="col-sm-8">{{range .CommandLine}}{{.}} {{end}}</div>
        </div>

        <div class="row collapse" id="description-C61194C4-5B08-43E8-841D-4F651F59516B">
          <div class="col-sm-4">description</div>
          <div class="col-sm-8">{{ markdown .Description }}</div>
        </div>

        <div class="row collapse" id="curl-C61194C4-5B08-43E8-841D-4F651F59516B">
          <h3>Start service with <code>curl</code></h3>
          {{ $d := .Defaults }}
          <div class="well" id="curl-command">
          </div>

        <script type="text/javascript">

        var t = document.getElementById('curl-command');
        t.innerHTML = "curl -X POST {{ range $p := .Parameters}} --form {{ $p }}=\"{{index $d $p}}\"{{end}}" +
                      "{{ range $p := .InputFiles }} --form {{$p}}=@FILENAME {{end}}" +
                      "{{ range $p := .OutputFiles }} --form {{$p}}=output.FILENAME {{end}}" +
                      "{{ range $p := .InputZip }} --form {{$p}}=@FILENAME.zip {{end}}" +
                      "{{ range $p := .OutputZip }} --form {{$p}}=output.zip {{end}}" +
                      " " + window.location.hostname + ":" + window.location.port + "/rest/service/{{.EndPoint}}";

        </script>
      </div>

      <div class="row">
        <h3>Select paremeters</h3>
        <form name="service" method="post" enctype="multipart/form-data">
          {{ if $c.Mail.Server }}
          <div class="panel panel-default">
            <div class="panel-body">
              <label>email notification </label>
              <div class="input-group">
                <span class="input-group-addon" id="email-decoration">@</span>
                <input type="text" class="form-control" placeholder="email@example.com" name="mail" aria-describedby="email-decoration">
              </div>
            </div>
            {{end}}

                {{$parameter_descriptions := .ParameterDescriptions}}
                {{ if .Parameters }}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Use the dropdown menu to select parameters for <code>{{.EndPoint}}</code>.  Typically these are strings or numbers.
                  </div>
                  <div class="panel-body">
                    {{ range $p := .Parameters}}
                    <div class="form-group">
                      <label for="{{$p}}">{{$p}} <span class="text-muted">{{ index $parameter_descriptions $p | markdown }}</span></label>
                      {{ $default := index $d $p }}
                      {{ if isArray $default}}
                      {{ $a := toArray $default }}
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></button>
                          <ul class="dropdown-menu dropdown-menu-left">
                            {{ range $index, $value := $a }}
                            <li><a href="#" id="{{$p}}-{{$index}}">{{$value}}</a></li>
                            {{end}}
                          </ul>
                        </div><!-- /btn-group -->
                        <input class="form-control" id="{{$p}}" placeholder="{{index $a 0}}" value="{{index $a 0}}" type="text" name="{{$p}}">
                      </div>
                      <!-- Javascript -->
                      <script>
                      $(document).ready(function() {
                        {{ range $index, $value := $a }}
                        $('#{{$p}}-{{$index}}').click(function(e) {
                          $('#{{$p}}').val ( '{{$value}}' );
                        });
                        {{end}}
                      });
                      </script>


                {{else}}
                <input class="form-control" id="{{$p}}" placeholder="{{index $d $p}}" value="{{index $d $p}}" type="text" name="{{$p}}">
                {{end}}
              </div>
              {{end}}
            </div>
          </div>
          {{end}}

          {{ if .InputFiles }}
          <div class="panel panel-default">
            <div class="panel-heading">
              Files needed to for <code>{{ .EndPoint }}</code>.  These are individual files (not zip files).
            </div>
            <div class="panel-body">
              {{ range $p := .InputFiles }}
              <div class="form-group">
                <label for="{{$p}}">{{$p}} <span class="text-muted">{{index $parameter_descriptions $p | markdown }}</span></label>
                <input class="form-control" id="{{$p}}" type="file" name="{{$p}}">
              </div>
              {{end}}
            </div>
          </div>
          {{end}}

          {{ if .InputZip }}
          <div class="panel panel-default">
            <div class="panel-heading">
              Zip files containing directories needed to for <code>{{ .EndPoint }}</code>.  Typically, these are zip files containing a single directory.  Grunt expands the zip file to create an input directory for <code>{{.EndPoint}}</code>.
            </div>
            <div class="panel-body">
              {{ range $p := .InputZip }}
              <div class="form-group">
                <label for="{{$p}}">{{$p}} <span class="text-muted">{{index $parameter_descriptions $p | markdown }}</span></label>
                <input class="form-control" id="{{$p}}" type="file" name="{{$p}}">
              </div>
              {{end}}
            </div>
          </div>
          {{end}}

          {{ if .OutputFiles }}
          <div class="panel panel-default">
            <div class="panel-heading">
              File name for files created by <code>{{ .EndPoint }}</code>.  These are individual files (not zip files) and should reflect any extensions that are important to the service.
            </div>
            <div class="panel-body">
              {{ range $p := .OutputFiles }}
              <div class="form-group">
                <label for="{{$p}}">{{$p}} <span class="text-muted">{{index $parameter_descriptions $p | markdown }}</span></label>
                <input class="form-control" id="{{$p}}" type="text" name="{{$p}}">
              </div>
              {{end}}
            </div>
          </div>
          {{end}}

          {{ if .OutputZip }}
          <div class="panel panel-default">
            <div class="panel-heading">
              Name of a directory created by <code>{{.EndPoint}}</code>.  The output will be a Zip file of contining a directory of files produced by <code>{{ .EndPoint }}</code>.  These zip files contain a single directory containing output of {{.EndPoint}}.
            </div>
            <div class="panel-body">
              {{ range $p := .OutputZip }}
              <div class="form-group">
                <label for="{{$p}}">{{$p}} <span class="text-muted">{{index $parameter_descriptions $p | markdown }}</span></label>
                <input class="form-control" id="{{$p}}" type="text" name="{{$p}}">
              </div>
              {{end}}
            </div>
          </div>
          {{ end }}

          <p><button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="row" id="output-817310BD-42A6-4DC4-A45A-932EB5213E4E"/>
    </div>
    {{end}}

    <script type="text/javascript">

    var form = document.forms.namedItem("service");
    form.addEventListener('submit', function(ev) {

      var oOutput = document.querySelector("#output-817310BD-42A6-4DC4-A45A-932EB5213E4E"),
          oData = new FormData(form);
      // Wait a full minute for timeout
      axios.defaults.timeout = 60 * 1000;
      oOutput.innerHTML = '<br/><div class="alert alert-success">Starting service, please wait for upload...</div>';

      axios.post("/rest/service/{{.service.EndPoint}}", oData)
           .then(function(response) {
             console.log(response);

             window.open ( '/job/' + response.data.uuid, "_self" );
             return;

             /* oOutput.innerHTML =
              *   '<br/><div class="alert alert-success">Service started see <a href="/job/' + response.data.uuid + '">job status</a></div>' +
              *   "<pre>" + JSON.stringify(response.data,null,4) + "</pre>";
                })
                .catch(function(error){
              * oOutput.innerHTML = "<h3>Error</h3><br/>" +
              *                     '<div class="alert alert-info">' +
              *                     error + '</div><div class="alert alert-warning">' + error.response.data + '</div>'*/

           });
      ev.preventDefault();
    }, false);




    </script>
  </body>
</html>
