<!DOCTYPE html>
<html>
  <head>
    <title>grunt services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>Services</h1>

    Currently {{len .services}} services available
    <hr/>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>endpoint</th>
        <th>command line</th>
        <th>description</th>
        <th>defaults</th>
      </tr>
      </thead>

      <tbody>
      {{range .services}}
      <tr>
        <td>{{.EndPoint}}</td>
        <td>{{.CommandLine}}</td>
        <td>{{.Description}}</td>
        <td>{{.Defaults}}</td>
      </tr>
      
      {{end}}
      </tbody>
    </table>
    </div>
  </body>
</html>
